.landing-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--alert-info);
}

.hero h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.hero-button {
  display: inline-block;
  background-color: var(--btn-primary);
  color: var(--alert-light-bg);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--bg-accent);
}

.portfolio,
.blog,
.spotlight {
  padding: 3rem 0;
  color: var(--alert-info);
  background-color: var(--bg-dark);
}

.section-title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--alert-info);
}

.swiper {
  padding: 2rem 1rem;
}

.swiper-slide {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--text-color);
  background-color: var(--btn-primary);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--bg-accent);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}

.swiper-pagination-bullet {
  background-color: var(--bg-accent);
}

.swiper-pagination-bullet-active {
  background-color: var(--btn-primary);
}

.card {
  background-color: var(--bg-darker);
  border-radius: 0.375rem;
  padding: 1rem;
  height: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.card:hover {
  background-color: var(--bg-light);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.card h3 {
  font-weight: 600;
  color: var(--text-color);
}

.card p {
  color: var(--bg-light-muted);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.card a {
  color: var(--alert-info);
  text-decoration: none;
}

.spotlight-item {
  background-color: var(--bg-darker);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
}

.spotlight-item:hover {
  transform: translateY(-5px);
}

.spotlight-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.spotlight-item-content {
  padding: 1rem;
}

.spotlight-item h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.spotlight-item p {
  color: var(--text-muted);
  margin-bottom: 1rem;
}

.spotlight-item a {
  display: inline-block;
  background-color: var(--btn-primary);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.spotlight-item a:hover {
  background-color: var(--bg-accent);
}

.blog .author {
  color: var(--bg-muted);
  margin-bottom: 0.5rem;
}

.portfolio .card {
  text-align: center;
}

.portfolio .card img {
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
  margin: 0 auto 1rem;
}
