* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background-color: var(--bg-color);
  line-height: 1.6;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
